
{% extends 'utilisateur/base.html'%}
{% block content %}
<br><hr><br><br>
<div class="container min-vh-100 d-flex justify-content-center">
<br>
<div class="row">
	<div class="">
		<h4>changer le mot de passe</h4>
		<form action="" method="POST">
			<fieldset>
				<div class="mb-3">
			{% csrf_token %}
			{{form.as_p}}
		<button type="submit" class="btn btn-primary">soumetre</button>
		<p> <a href="{% url 'loginPage' %}">connecter</a></p>
		</div>
	</fieldset>
</form>
	</div>
	
</div>
</div>
{% endblock content %}
