{% extends 'utilisateur/base.html'%}
{% block content %}
<br><br>
<h1>réinitialiser votre mot de passe</h1>
<div class="row">
	<div class="col-sm-4">
		
		<p>nous vous avons envoyé par e-mail les instructions pour modifier le mot de passe</p></br>
		<p>si vous n'avez pas reçu d'email, assurez-vous que vous avez bien  
		que vous avez saisi le mot de passe correct</p>
		
		<a href="{% url 'afficher' %}" class="btn btn-primary">Utilisateur existant</a><br><br>
		<a href="{% url 'loginPage' %}" class="btn btn-primary">Integrer IAM</a>
</div>
	
</div>
{% endblock content %}