{% extends 'utilisateur/index.html'%}
{% block content %}
<div class="col-sm-8">
	<h2 class="text-center alert alert-danger">les stagiaires</h2>
	{% if utilisateur %}
		<table class="table table-hover">
      {% csrf_token%}
  <thead> 	
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">date d'arriver</th>
      <th scope="col">date depart</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in utilisateur %}
    <tr>
      <th scope="row">{{utilisateur.id}}</th>
      <td>{{i.name}}</td>
      <td>{{i.prenom}}</td>
      <td>{{i.email}}</td>
      <td>{{i.arriver}}</td>
      <td>{{i.depart}}</td>
      <td>
      	<a href="{% url 'modifier' i.id %}" class="btn btn-warning btn-sm">Modifier</a>
        <form action="{% url 'delete_data' i.id %}" class="d-inline" method="post">
          {% csrf_token %}       
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'ajouter' %}" class="btn btn-primary">ajouter nouveau</a>
	{% else %}
	<p class="text-center alert alert-warning">aucun stagiaire pour le momont</p>
	{% endif %}
</div>
{% endblock %}