
{% extends 'utilisateur/base.html'%}
{% block content %}
<br><hr><br><br>
<div class="container min-vh-100 d-flex justify-content-center">
<br>
<div class="row">
	<div class="">
		<h1>ajouter un encadreurs</h1>
		<form action="" method="POST">
			<fieldset>
				<div class="mb-3">
			{% csrf_token %}
			{{form.as_p}}
		<button type="submit" class="btn btn-primary">Envoyer</button>
		<a href="{% url 'afficher_encr' %}" class="btn btn-primary">les encadrants existant</a>
		</div>
	</fieldset>
</form>
	</div>
	
</div>
</div>
{% endblock content %}
