{% extends 'utilisateur/base.html'%}
{% block content %}
<br><hr><br><br>
<div class="container min-vh-100 d-flex justify-content-center">
<br>
<div class="row">
	<div class="">
<body>
    <h1>Soumettre un congé</h1>
    <form method="post">
        {% csrf_token %}
        <label for="type_conge">Type de congé:</label>
        <select name="type_conge" id="type_conge">
            {% for type_conge in types_conge %}
                <option value="{{ type_conge.id }}">{{ type_conge.nom }}</option>
            {% endfor %}
        </select><br><br>

        <label for="date_debut">Date de début:</label>
        <input type="date" name="date_debut" id="date_debut"><br><br>

        <label for="date_fin">Date de fin:</label>
        <input type="date" name="date_fin" id="date_fin"><br><br>

        <label for="motif">Motif:</label><br>
        <textarea name="motif" id="motif" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Soumettre">
    </form>
</body>
</div>
</div>
</div>
{% endblock content %}
